<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/iwall.gif" >
    </ion-navbar>
</ion-header>


<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of items">
        <div class="image-container"  [defaultImage]="defaultImage"  [lazyLoad]= image  [offset]="100" [scrollObservable]="imageChange$" ></div>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--<div class="grid-container"  *ngFor="let image of items">
  <div class="image-container"  [defaultImage]="defaultImage"  [lazyLoad]= image  [offset]="100" [scrollObservable]="imageChange$" ></div>
</div>-->

</ion-content>